/* CSS by Richard Kaai-Sandmeier*/
/*
Color Pallete
    light grey: #A4A4A6
    dark grey: #1B2619
    dark green: #162607
    light green: #595738
    light brown: #734136
*/

/* GLOBAL (base) MOBILE FIRST */
body{
    background-color: #1B2619;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 5rem;
}
header p{
    font-size: 1.5rem;
    color: #A4A4A6;
}

header {
    background-color: #162607;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flexbox;
}

nav {
    background-color: #595738;
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform:uppercase;
}
nav a:hover {
    background-color: #734136;
}

nav button{
    background-color: #734136;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: white;
    padding:0.5rem;
}

.Introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Introduction img{
    height: 35rem;
    padding: .5rem;
    font: 3rem;
    text-align: center;
}

.Introduction > div{
    width: 100%;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.Introduction p{
    font-size: 1rem;
    background-color: #734136;
    color: white;
    text-align: center;
    padding: 1rem;
}

.Introduction button{
    background-color: #162607;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    margin: 1rem auto 0;
    display: block;
}

.Introduction a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    text-transform:uppercase;
}



.title, .Introduction h2{
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem;
    padding: 1rem;
}
.title p{
    font-size: 1rem;
    background-color: #595738;
    color: white;
    text-align: center;
    padding: 1rem;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #162607;
    padding: 2rem;
    text-align: center;
    color: white;
}

.popup{
    background-color: #1B2619;
    color: white;
    text-align: center;
    padding: 2rem;
    position: fixed;
}

.endmessage{
    font-size: .75rem;
    color: #A4A4A6;
}

ul.aboutme{
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #595738;
    list-style: numbered;
}

.button{
    background-color: #734136;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: white;
    padding:0.5rem;
    margin: 1rem auto 0;
    display: block;
}
.button a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    text-transform:uppercase;
}

/* carousel video credit from: https://www.youtube.com/watch?v=KD1Yo8a_Qis or coding2go */

.carousel{
    margin: 10px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    ;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 10s infinite linear;
    width:auto;
}

.group img{
    flex: 0 0 6em;
    height: 25rem;
    padding: .5rem;
    font: 3rem;
    text-align: center;
    align-content: center;
}

@keyframes spin{
    from {translate: 0;}
    to{translate: -100%;}
}

ul{
    list-style: none;
}

.photography-nav li, .video-nav li{
    padding: 1rem;
    background-color: #595738;
    color: white;
    margin: 0.5rem auto;
    width: 80%;
    text-align: center;
}

.photography-nav a, .video-nav a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    text-transform:uppercase;
    font-size: 1.5rem;
}

.photography-nav a:hover, .video-nav a:hover{
    background-color: #734136;
    padding: 0.5rem;
}

.photography-nav, .video-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    height: auto;
}

.title{
    margin-top: 2rem;
}

.photography-image{
    width: 100%;
    max-width: 80%;
    height: auto;
    padding: .5rem;
    font: 3rem;
    text-align: center;
}

@media (min-width: 768px){

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .photography-nav, .video-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Introduction{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Introduction h2{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    .Introduction img{
        height: 50rem;
        padding: .5rem;
        font: 3rem;
        text-align: center;
    }
    .Introduction > div{
        width: 100%;
        max-width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    
}